* {
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url("./images/background.jpg");
    background-size: cover;
}

footer {
    height: 50px;
    margin-top: 50px;
    color: #FFF;
}
