.wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 0 1rem;
    /* background-color: rgba(31, 15, 177, 0.26); */
}

.sort {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.sort-select, .sort-p {
    margin-right: 1rem;
}

.sort-select {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid black;
    border-bottom: hidden;
}

.sort-select option {
    background: black;
    color: white;
    border: none;
}

.sorts li {
    margin: 0 .5rem;
    padding: .5rem 0;
    list-style-type: none;
}

.sorts li a:hover {
    background-color: black;
    border-radius: 10px;
    transition: 1s;
}

.sorts li a {
    text-decoration: none;
    padding: 5px;
    color: white;
}