.wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 1rem;
    /* background-color: rgba(31, 15, 177, 0.26); */
}

.sorts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sorts li {
    margin: 0 .5rem;
    padding: .5rem 0;
    list-style-type: none;
}

.sorts li a:hover {
    background-color: black;
    border-radius: 10px;
    transition: 1s;
}

.sorts li a {
    text-decoration: none;
    padding: 5px;
    color: white;
}