.pagination {
    display: flex;
    justify-content: center;
}

.pagination-btn {
    padding: 1rem;
    margin-top: .2rem;
    border: 1px solid black;
    background: #1C3E6B;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    margin-right: .5rem;
    width: 85px;
}

.next {
    margin-left: .5rem;
    width: 85px;
}

.disabled {
    pointer-events: none;
    box-shadow: none;
    color: rgb(122, 171, 231);
}

.pagination-active {
    border: 1px solid rgb(136, 136, 136);
    /* color: #888; */
    background: #345f97c7;
    pointer-events: none;
}