.card-wrapper {
    padding: 2%;
}

.card-wrapper .card {
    margin: 0 auto;
}

.card {
    position: relative;
    max-width: 250px;
    background-color: #172360ab;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 10px;
    box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.5);
}

.card p:hover, .card h1:hover {
    cursor: default;
}

.image-wrapper {
    width: auto;
    height: 200px;
    overflow: hidden;
}

.card-image {
    max-width: 230px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-image:hover {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
    transition: all 1s linear;
}

.text-box-wrapper {
    padding: 20px
}

.heading {
    font-family: 'Playfair-Display';
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
}

.heading::after {
    content: '';
    display: block;
    margin-top: 0.5em;
    width: 30px;
    height: 5px;
    background-color: black;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    /* padding-top: 10px; */
    /* line-height: 2; */
}

.card-date {
    margin: 0;
    padding-top: 10px;
    font-size: small;
    font-style: italic;
}

.button {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.button:hover {
    color: rgb(134, 132, 132);
    transition: linear 0.2s;
}

.likes {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    color: #ffffff; 
}
